<div class="product-item">
    <img class="product-item__image" src="{{ product?.url }}" />
    <div class="product-item__info">
        <h2>{{ product?.name }}</h2>
        <p class="product-item__description">{{ product?.description }}</p>
        <p class="price">{{ product?.price | currency: "EUR" }}</p>
        <form (ngSubmit)="addProductToCart(product)">
            <select [(ngModel)]="selectedItem" style="width: 100px" class="product-item-detail form-select" (ngModelChange)="selectedChange($event)" [ngModelOptions]="{ standalone: true }">
        <option *ngFor="let value of productCount" value="{{ value }}">
          {{ value }}
        </option>
      </select>
            <input class="btn-add" type="submit" value="Add to Cart" class="mt-2 btn btn-primary" />
        </form>
        <div>
            <a class="back-button" routerLink="/">&lt; Back to product list</a>
        </div>
    </div>
</div>
